# Ignore npm registry credentials
.npmrc

# Ignore installed dependencies
node_modules/

# Ignore output directories
build
bin
idea-bin

# Log files
logs/
**/*.log

# Ignore env files
**/*.env

# Ignore task worktrees
work/

